<%- include('header'); -%>

<!-- Start Slider Area  -->
<div
  class="slider-digital-agency slider-activation rn-slick-activation rn-slick-dot dot-light mb--0 color-white"
  data-slick-options='{
                    "slidesToShow": 1, 
                    "slidesToScroll": 1, 
                    "arrows": true, 
                    
                    "fade": true,
                    "infinite": true,
                    "easing": "fade",
                    "infinite": true,
                    "adaptiveHeight": true,
                    "dots": true 
                }'
>
  <!-- Start Single Slide  -->
  <div
    style="background-image: url('assets/images/bg/bg-image-21.jpg')"
    class="slide slide-style-2 fullscreen d-flex align-items-center justify-content-center bg_image"
    data-black-overlay="2"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner text-center">
            <h1 class="title">Development</h1>
            <p class="description">
              There are many variations of passages of Lorem Ipsum available but
              the majority have suffered alteration.
            </p>
            <div class="slide-btn">
              <a class="rn-button-style--2 btn-primary-color" href="/contact"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Single Slide  -->

  <!-- Start Single Slide  -->
  <div
    style="background-image: url('assets/images/bg/bg-image-20.jpg')"
    class="slide slide-style-2 fullscreen d-flex align-items-center justify-content-center bg_image"
    data-black-overlay="2"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner text-center">
            <h1 class="title">Marketing</h1>
            <p class="description">
              There are many variations of passages of Lorem Ipsum available but
              the majority have suffered alteration.
            </p>
            <div class="slide-btn">
              <a class="rn-button-style--2 btn-primary-color" href="/contact"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Single Slide  -->

  <!-- Start Single Slide  -->
  <div
    style="background-image: url('assets/images/bg/bg-image-23.jpg')"
    class="slide slide-style-2 fullscreen d-flex align-items-center justify-content-center bg_image"
    data-black-overlay="2"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner text-center">
            <h1 class="title">Agency</h1>
            <p class="description">
              There are many variations of passages of Lorem Ipsum available but
              the majority have suffered alteration.
            </p>
            <div class="slide-btn">
              <a class="rn-button-style--2 btn-primary-color" href="/contact"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Single Slide  -->

  <!-- Start Single Slide  -->
  <div
    class="slide slide-style-2 fullscreen d-flex align-items-center justify-content-center bg_image bg_image--22"
    data-black-overlay="2"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner text-center">
            <h1 class="title">Freelancing</h1>
            <p class="description">
              There are many variations of passages of Lorem Ipsum available but
              the majority have suffered alteration.
            </p>
            <div class="slide-btn">
              <a class="rn-button-style--2 btn-primary-color" href="/contact"
                >Contact Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Single Slide  -->
</div>
<!-- Start Service Area  -->
<div class="rn-service-area rn-section-gap bg_color--1">
  <div class="container">
    <div class="row mt_dec--30">
      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div class="single-service service__style--2 bg-color-gray">
          <a class="unclick" href="#">
            <div class="service">
              <div class="icon">
                <i data-feather="briefcase"></i>
              </div>
              <div class="content">
                <h3 class="title">Business Stratagy</h3>
                <p>
                  The Success of a business depends on making a solid presence
                  in the market and making a good profit.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- End Single Service  -->

      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div class="single-service service__style--2 bg-color-gray">
          <a class="unclick" href="#">
            <div class="service">
              <div class="icon">
                <i data-feather="monitor"></i>
              </div>
              <div class="content">
                <h3 class="title">Website Development</h3>
                <p>
                  Development is all about professionalism and we take immense
                  pride in the innovative capabilities of our experts.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- End Single Service  -->

      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div class="single-service service__style--2 bg-color-gray">
          <a class="unclick" href="#">
            <div class="service">
              <div class="icon">
                <i data-feather="users"></i>
              </div>
              <div class="content">
                <h3 class="title">Marketing & Reporting</h3>
                <p>
                  An amalgamation of marketing tactics, interactive content and
                  formidable analytics to promote a super brand image.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- End Single Service  -->

      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div class="single-service service__style--2 bg-color-gray">
          <a class="unclick" href="#">
            <div class="service">
              <div class="icon">
                <i data-feather="smartphone"></i>
              </div>
              <div class="content">
                <h3 class="title">Mobile Development</h3>
                <p>
                  From idea to application programming improvement, We covers
                  the whole mobile application development cycle.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- End Single Service  -->

      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div class="single-service service__style--2 bg-color-gray">
          <a class="unclick" href="#">
            <div class="service">
              <div class="icon">
                <i data-feather="package"></i>
              </div>
              <div class="content">
                <h3 class="title">Branding Stratagy</h3>
                <p>
                  Gives your business a visual identity & not just a name but a
                  voice and encourages your consumer awareness.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- End Single Service  -->

      <!-- Start Single Service  -->
      <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div
          class="single-service service__style--2 bg-color-gray"
          style="cursor: default"
        >
          <a class="unclick" href="#">
            <div class="service">
              <div class="icon">
                <i data-feather="chevrons-up"></i>
              </div>
              <div class="content">
                <h3 class="title">SEO</h3>
                <p>
                  We offers a best approach in SEO services by mapping out the
                  goal and metrics that best caters to your business needs.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- End Single Service  -->
    </div>
  </div>
</div>

<!-- Start Service Area  -->
<!-- Start About Area  -->
<div class="about-area rn-section-gap bg_color--5" id="about">
  <div class="about-wrapper">
    <div class="container">
      <div class="row row--35 align-items-center">
        <div class="col-lg-5 col-md-12">
          <div class="thumbnail">
            <img
              class="w-100"
              src="assets/images/about/about-3.jpg"
              alt="About Images"
            />
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="about-inner inner">
            <div class="section-title">
              <h2 class="title">Why Chose US?</h2>
              <h4 class="title">Innovative and Passionate</h4>
              <p class="description">
                Our strong passion for innovation and creativity makes us a
                brilliant digital marketing and web development partner. We
                constantly strive to find new ways to enhance the revenue levels
                of our clients.
              </p>
              <h4 class="title">Good Return on Investment</h4>
              <p class="description">
                Working with us means providing your business with great
                savings. All our digital marketing and web development packages
                are being offered at competitive prices. Our professionals leave
                no stone unturned to ensure good returns from every penny
                invested in the project.
              </p>
              <h4 class="title">A Gamut of Services under One Roof</h4>
              <p class="description">
                Our strong passion for innovation and creativity makes us a
                brilliant digital marketing and web development partner. We
                constantly strive to find new ways to enhance the revenue levels
                of our clients.
              </p>
              <h4 class="title">High-Quality Services</h4>
              <p class="description">
                Our strong passion for innovation and creativity makes us a
                brilliant digital marketing and web development partner. We
                constantly strive to find new ways to enhance the revenue levels
                of our clients.
              </p>
              <h4 class="title">Seamless Customer Support</h4>
              <p class="description">
                Our strong passion for innovation and creativity makes us a
                brilliant digital marketing and web development partner. We
                constantly strive to find new ways to enhance the revenue levels
                of our clients.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End About Area  -->
<!-- Start Portfolio Area  -->
<div class="rn-portfolio-area rn-section-gap bg_color--1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center mb--20 mb_sm--0">
          <h2 class="title">Featured</h2>
          <p>
            There are many variations of passages of Lorem Ipsum available,
            <br />
            but the majority have suffered alteration.
          </p>
        </div>
      </div>
    </div>
    <div
      class="row rn-slick-activation rn-slick-dot mt--10"
      data-slick-options='{
                    "spaceBetween": 15, 
                    "slidesToShow": 3, 
                    "slidesToScroll": 1, 
                    "arrows": false, 
                    "infinite": true,
                    "dots": true
                }'
      data-slick-responsive='[
                {"breakpoint":890, "settings": {"slidesToShow": 3}},
                {"breakpoint":770, "settings": {"slidesToShow": 2}},
                {"breakpoint":490, "settings": {"slidesToShow": 1}}
                ]'
    >
      <!-- Start Single Portfolio  -->
      <% works.map(work=>{ %>

      <div class="portfolio mt--30 mb--20">
        <div class="thumbnail-inner" style="cursor: default">
          <div
            style="
              background-image: url('works/<%= work.imageName%>') !important;
            "
            class="thumbnail image-1"
          ></div>
          <div class="bg-blr-image"></div>
        </div>
        <div class="content">
          <div class="inner">
            <p><%= work.name %></p>
            <h4>
              <a style="cursor: default" href="#"><%= work.description %> </a>
            </h4>
            <% if(work.link !== "null") {%>
            <div class="portfolio-button">
              <a class="rn-btn" href="<%= work.link %> ">Visit</a>
            </div>
            <% } %>
          </div>
        </div>
      </div>

      <% }) %>

      <!-- End Single Portfolio  -->
    </div>
  </div>
</div>
<!-- End Portfolio Area  -->
<!-- Start countreupup Area  -->
<div class="rn-countreupup-area rn-section-gap bg_color--1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-single-title text-center">
          <h3 class="fontWeight500">Our Fun Facts</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Start Single Counterup  -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="rn-counterup counterup_style--1">
          <h5 class="counter count">992</h5>
          <p class="description">
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced
            below for those.
          </p>
        </div>
      </div>
      <!-- Start Single Counterup  -->

      <!-- Start Single Counterup  -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="rn-counterup counterup_style--1">
          <h5 class="counter count">575</h5>
          <p class="description">
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced
            below for those.
          </p>
        </div>
      </div>
      <!-- Start Single Counterup  -->

      <!-- Start Single Counterup  -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="rn-counterup counterup_style--1">
          <h5 class="counter count">69</h5>
          <p class="description">
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced
            below for those.
          </p>
        </div>
      </div>
      <!-- Start Single Counterup  -->
    </div>
  </div>
</div>
<!-- End countreupup Area  -->
<!-- Start Brand Area -->
<div class="rn-brand-area bg_color--5 rn-section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title section-title--2 text-center mb--30">
          <h2 class="title">Our Clients</h2>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt--30">
      <div class="col-lg-12">
        <ul class="brand-style">
          <!-- <li>
              <img src="assets/images/brand/brand-01.png" alt="Logo Images" />
            </li> -->
          <% companies.map(comp=>{ %>
          <li>
            <img src="companies/<%= comp.imageName %> " alt="Logo Images" />
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Brand Area -->
<script>
  $(".unclick").click(function () {
    return false;
  });
</script>
<%- include('footer'); -%>
